/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content {
    padding: 10px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.separated-content {
    display: flex;
    justify-content: space-between;
}

.d-flex {
    display: flex;
    gap: 5px;
}

table {
    width: 100%;

    thead {
        background: rgb(207, 207, 207);
    }

    th {
        padding: 5px;
    }

}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-30 {
    width: 30%;
}

.w-20 {
    width: 20%;
}

.w-10 {
    width: 10%;
}